<a href="https://colab.research.google.com/github/GadiReddemma5/DataAnalytics/blob/main/projectPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import kagglehub
path = kagglehub.dataset_download("vijayuv/onlineretail")

Using Colab cache for faster access to the 'onlineretail' dataset.

In [ ]:
import pandas as pd
import numpy as np

In [74]:
retail=pd.read_csv('/kaggle/input/onlineretail/OnlineRetail.csv',encoding='ISO-8859-1')

In [ ]:
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

##Part-A:Initial Data Exploration

In [ ]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [ ]:
retail.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom

In [ ]:
retail.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [ ]:
retail.sample(20)
retail.shape
retail.columns
retail.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

##Part-B: Data Quality Assessment

In [ ]:
retail.isna().sum()
retail['CustomerID'].isna().sum()
retail.duplicated().sum()
retail[retail['UnitPrice']<=0]
retail[retail['Quantity']<=0]
retail['InvoiceNo'].str.startswith('C').sum()
retail["Description"].str.startswith(" ") | retail["Description"].str.endswith(" ")

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905     True
541906     True
541907    False
541908     True
Name: Description, Length: 401604, dtype: bool

In [ ]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392692 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392692 non-null  object
 1   StockCode    392692 non-null  object
 2   Description  392692 non-null  object
 3   Quantity     392692 non-null  int64
 4   InvoiceDate  392692 non-null  datetime64[ns]
 5   UnitPrice    392692 non-null  float64
 6   CustomerID   392692 non-null  float64
 7   Country      392692 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.0+ MB

##PART C: Data Cleaning

In [75]:
retail=retail.dropna(subset='CustomerID')
retail['Description']=retail['Description'].fillna("Unknown Product")
retail.duplicated().sum()
retail.drop_duplicates(inplace=True)
retail=retail[retail['UnitPrice']>0]
retail=retail[retail['Quantity']>0]
retail=retail[~retail['InvoiceNo'].str.startswith('C')]
retail.rename(columns={'Description':"ProductName"},inplace=True)
retail["InvoiceDate"]=pd.to_datetime(retail["InvoiceDate"])
retail.reset_index(inplace=True)
retail

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
392687,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
392688,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
392689,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
392690,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
392691,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

##PART D: Feature Creation

In [76]:
retail['TotalPrice']=retail['Quantity']*retail['UnitPrice']

In [86]:

retail

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayofWeek,Quarter,OrderSize,RevenueCategory,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010,12,1,8,Wednesday,Q4,Medium,Medium,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010,12,1,8,Wednesday,Q4,Medium,Medium,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20,2011,12,9,12,Friday,Q4,Medium,Medium,France
392688,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60,2011,12,9,12,Friday,Q4,Medium,Medium,France
392689,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,2011,12,9,12,Friday,Q4,Small,Medium,France
392690,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,2011,12,9,12,Friday,Q4,Small,Medium,France
392691,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85,2011,12,9,12,Friday,Q4,Small,Medium,France

In [78]:
retail['Year']=retail['InvoiceDate'].dt.year
retail['Month']=retail['InvoiceDate'].dt.month
retail['Day']=retail['InvoiceDate'].dt.day
retail['Hour']=retail['InvoiceDate'].dt.hour
retail['DayofWeek']=retail['InvoiceDate'].dt.day_name()
retail['Quarter']='Q'+retail['InvoiceDate'].dt.quarter.astype(str)

In [80]:
conditions=[
    retail["TotalPrice"] < 10,
    (retail["TotalPrice"] >= 10) & (retail["TotalPrice"] <= 100),
    retail["TotalPrice"] > 100
]
choices = ["Low", "Medium", "High"]
retail["RevenueCategory"] = np.select(conditions, choices,default="")

In [79]:
conditions=[
    retail["Quantity"] <5,
    (retail["Quantity"] >= 5) & (retail["Quantity"] <=20),
    retail["Quantity"] >20
]
choices = ["Small", "Medium", "Large"]
retail["OrderSize"] = np.select(conditions, choices,default="")

In [82]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392692 entries, 0 to 392691
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   index            392692 non-null  int64
 1   InvoiceNo        392692 non-null  object
 2   StockCode        392692 non-null  object
 3   ProductName      392692 non-null  object
 4   Quantity         392692 non-null  int64
 5   InvoiceDate      392692 non-null  datetime64[ns]
 6   UnitPrice        392692 non-null  float64
 7   CustomerID       392692 non-null  float64
 8   Country          392692 non-null  object
 9   TotalPrice       392692 non-null  float64
 10  Year             392692 non-null  int32
 11  Month            392692 non-null  int32
 12  Day              392692 non-null  int32
 13  Hour             392692 non-null  int32
 14  DayofWeek        392692 non-null  object
 15  Quarter          392692 non-null  object
 16  OrderSize        392692 non-null  object
 17  RevenueCategory  392692 non-null  object
dtypes: datetime64[ns](1), float64(3), int32(4), int64(2), object(8)
memory usage: 47.9+ MB

##PART E: Text Data Processing

In [83]:
retail['ProductName']=retail['ProductName'].str.upper()

In [85]:
retail['Country ']=retail['Country'].str.strip()

In [89]:
retail[retail['ProductName'].str.contains("BAG")]

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayofWeek,Quarter,OrderSize,RevenueCategory,Country
38,38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583.0,France,17.0,2010,12,1,8,Wednesday,Q4,Medium,Medium,France
86,86,536378,22386,JUMBO BAG PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom,19.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
87,87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom,19.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
88,88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688.0,United Kingdom,29.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
89,89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,2010-12-01 09:37:00,0.85,14688.0,United Kingdom,8.5,2010,12,1,9,Wednesday,Q4,Medium,Low,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392616,541833,581579,23343,JUMBO BAG VINTAGE CHRISTMAS,30,2011-12-09 12:19:00,1.79,17581.0,United Kingdom,53.7,2011,12,9,12,Friday,Q4,Large,Medium,United Kingdom
392617,541834,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581.0,United Kingdom,35.8,2011,12,9,12,Friday,Q4,Medium,Medium,United Kingdom
392618,541835,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581.0,United Kingdom,71.6,2011,12,9,12,Friday,Q4,Large,Medium,United Kingdom
392645,541862,581581,23681,LUNCH BAG RED VINTAGE DOILY,10,2011-12-09 12:20:00,1.65,17581.0,United Kingdom,16.5,2011,12,9,12,Friday,Q4,Medium,Medium,United Kingdom
392648,541865,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777.0,United Kingdom,58.0,2011,12,9,12,Friday,Q4,Large,Medium,United Kingdom

In [90]:
retail[retail['ProductName'].str.startswith("WHITE")]

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayofWeek,Quarter,OrderSize,RevenueCategory,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010,12,1,8,Wednesday,Q4,Medium,Medium,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,United Kingdom
49,49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom,15.30,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
50,50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
66,66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850.0,United Kingdom,15.30,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392022,540217,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 19:55:00,2.95,15796.0,United Kingdom,17.70,2011,12,8,19,Thursday,Q4,Medium,Medium,United Kingdom
392135,540330,581476,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 08:48:00,4.25,12433.0,Norway,17.00,2011,12,9,8,Friday,Q4,Small,Medium,Norway
392372,541579,581502,23210,WHITE ROCKING HORSE HAND PAINTED,12,2011-12-09 10:51:00,1.25,15910.0,United Kingdom,15.00,2011,12,9,10,Friday,Q4,Medium,Medium,United Kingdom
392439,541647,581538,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,1,2011-12-09 11:34:00,1.45,14446.0,United Kingdom,1.45,2011,12,9,11,Friday,Q4,Small,Low,United Kingdom
392498,541712,581567,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 11:56:00,4.25,16626.0,United Kingdom,17.00,2011,12,9,11,Friday,Q4,Small,Medium,United Kingdom

In [94]:
retail[retail['ProductName'].str.endswith("HOLDER")]

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayofWeek,Quarter,OrderSize,RevenueCategory,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,UK,15.3,2010,12,1,8,Wednesday,Q4,Medium,Medium,United Kingdom
6,6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,UK,25.5,2010,12,1,8,Wednesday,Q4,Medium,Medium,United Kingdom
49,49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,UK,15.3,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
64,64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850.0,UK,25.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
66,66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850.0,UK,15.3,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392497,541711,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626.0,UK,79.2,2011,12,9,11,Friday,Q4,Large,Medium,United Kingdom
392524,541741,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311.0,UK,4.2,2011,12,9,12,Friday,Q4,Small,Low,United Kingdom
392608,541825,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581.0,UK,20.4,2011,12,9,12,Friday,Q4,Large,Medium,United Kingdom
392655,541872,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804.0,UK,15.0,2011,12,9,12,Friday,Q4,Medium,Medium,United Kingdom
392659,541876,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804.0,UK,20.4,2011,12,9,12,Friday,Q4,Large,Medium,United Kingdom

In [93]:
retail["Country"] = retail["Country"].replace("United Kingdom", "UK")
retail["Country"] = retail["Country"].replace("EIRE", "Ireland")

##PART F: Data Selection and Filtering