<a href="https://colab.research.google.com/github/GadiReddemma5/DataAnalytics/blob/main/projectPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import kagglehub
path = kagglehub.dataset_download("vijayuv/onlineretail")

Using Colab cache for faster access to the 'onlineretail' dataset.

In [2]:
import pandas as pd
import numpy as np

In [3]:
retail=pd.read_csv('/kaggle/input/onlineretail/OnlineRetail.csv',encoding='ISO-8859-1')

In [4]:
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

##Part-A:Initial Data Exploration

In [5]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [6]:
retail.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom

In [7]:
retail.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [8]:
retail.sample(20)
retail.shape
retail.columns
retail.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

##Part-B: Data Quality Assessment

In [9]:
retail.isna().sum()
retail['CustomerID'].isna().sum()
retail.duplicated().sum()
retail[retail['UnitPrice']<=0]
retail[retail['Quantity']<=0]
retail['InvoiceNo'].str.startswith('C').sum()
retail["Description"].str.startswith(" ") | retail["Description"].str.endswith(" ")

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905     True
541906     True
541907    False
541908     True
Name: Description, Length: 541909, dtype: bool

In [10]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

##PART C: Data Cleaning

In [11]:
retail=retail.dropna(subset='CustomerID')
retail['Description']=retail['Description'].fillna("Unknown Product")
retail.duplicated().sum()
retail.drop_duplicates(inplace=True)
retail=retail[retail['UnitPrice']>0]
retail=retail[retail['Quantity']>0]
retail=retail[~retail['InvoiceNo'].str.startswith('C')]
retail.rename(columns={'Description':"ProductName"},inplace=True)
retail["InvoiceDate"]=pd.to_datetime(retail["InvoiceDate"])
retail.reset_index(inplace=True)
retail

/tmp/ipython-input-230459010.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retail['Description']=retail['Description'].fillna("Unknown Product")
/tmp/ipython-input-230459010.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  retail.drop_duplicates(inplace=True)

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
392687,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
392688,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
392689,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
392690,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
392691,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

##PART D: Feature Creation

In [12]:
retail['TotalPrice']=retail['Quantity']*retail['UnitPrice']

In [13]:

retail

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...
392687,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
392688,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
392689,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
392690,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
392691,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

In [14]:
retail['Year']=retail['InvoiceDate'].dt.year
retail['Month']=retail['InvoiceDate'].dt.month
retail['Day']=retail['InvoiceDate'].dt.day
retail['Hour']=retail['InvoiceDate'].dt.hour
retail['DayofWeek']=retail['InvoiceDate'].dt.day_name()
retail['Quarter']='Q'+retail['InvoiceDate'].dt.quarter.astype(str)

In [15]:
conditions=[
    retail["TotalPrice"] < 10,
    (retail["TotalPrice"] >= 10) & (retail["TotalPrice"] <= 100),
    retail["TotalPrice"] > 100
]
choices = ["Low", "Medium", "High"]
retail["RevenueCategory"] = np.select(conditions, choices,default="")

In [16]:
conditions=[
    retail["Quantity"] <5,
    (retail["Quantity"] >= 5) & (retail["Quantity"] <=20),
    retail["Quantity"] >20
]
choices = ["Small", "Medium", "Large"]
retail["OrderSize"] = np.select(conditions, choices,default="")

In [17]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392692 entries, 0 to 392691
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   index            392692 non-null  int64
 1   InvoiceNo        392692 non-null  object
 2   StockCode        392692 non-null  object
 3   ProductName      392692 non-null  object
 4   Quantity         392692 non-null  int64
 5   InvoiceDate      392692 non-null  datetime64[ns]
 6   UnitPrice        392692 non-null  float64
 7   CustomerID       392692 non-null  float64
 8   Country          392692 non-null  object
 9   TotalPrice       392692 non-null  float64
 10  Year             392692 non-null  int32
 11  Month            392692 non-null  int32
 12  Day              392692 non-null  int32
 13  Hour             392692 non-null  int32
 14  DayofWeek        392692 non-null  object
 15  Quarter          392692 non-null  object
 16  RevenueCategory  392692 non-null  object
 17  OrderSize        392692 non-null  object
dtypes: datetime64[ns](1), float64(3), int32(4), int64(2), object(8)
memory usage: 47.9+ MB

##PART E: Text Data Processing

In [18]:
retail['ProductName']=retail['ProductName'].str.upper()

In [19]:
retail['Country ']=retail['Country'].str.strip()

In [20]:
retail[retail['ProductName'].str.contains("BAG")]

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayofWeek,Quarter,RevenueCategory,OrderSize,Country
38,38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583.0,France,17.0,2010,12,1,8,Wednesday,Q4,Medium,Medium,France
86,86,536378,22386,JUMBO BAG PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom,19.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
87,87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688.0,United Kingdom,19.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
88,88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688.0,United Kingdom,29.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
89,89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,2010-12-01 09:37:00,0.85,14688.0,United Kingdom,8.5,2010,12,1,9,Wednesday,Q4,Low,Medium,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392616,541833,581579,23343,JUMBO BAG VINTAGE CHRISTMAS,30,2011-12-09 12:19:00,1.79,17581.0,United Kingdom,53.7,2011,12,9,12,Friday,Q4,Medium,Large,United Kingdom
392617,541834,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581.0,United Kingdom,35.8,2011,12,9,12,Friday,Q4,Medium,Medium,United Kingdom
392618,541835,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581.0,United Kingdom,71.6,2011,12,9,12,Friday,Q4,Medium,Large,United Kingdom
392645,541862,581581,23681,LUNCH BAG RED VINTAGE DOILY,10,2011-12-09 12:20:00,1.65,17581.0,United Kingdom,16.5,2011,12,9,12,Friday,Q4,Medium,Medium,United Kingdom
392648,541865,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777.0,United Kingdom,58.0,2011,12,9,12,Friday,Q4,Medium,Large,United Kingdom

In [21]:
retail[retail['ProductName'].str.startswith("WHITE")]

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayofWeek,Quarter,RevenueCategory,OrderSize,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010,12,1,8,Wednesday,Q4,Medium,Medium,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,United Kingdom
49,49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom,15.30,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
50,50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850.0,United Kingdom,20.34,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
66,66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850.0,United Kingdom,15.30,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392022,540217,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 19:55:00,2.95,15796.0,United Kingdom,17.70,2011,12,8,19,Thursday,Q4,Medium,Medium,United Kingdom
392135,540330,581476,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 08:48:00,4.25,12433.0,Norway,17.00,2011,12,9,8,Friday,Q4,Medium,Small,Norway
392372,541579,581502,23210,WHITE ROCKING HORSE HAND PAINTED,12,2011-12-09 10:51:00,1.25,15910.0,United Kingdom,15.00,2011,12,9,10,Friday,Q4,Medium,Medium,United Kingdom
392439,541647,581538,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,1,2011-12-09 11:34:00,1.45,14446.0,United Kingdom,1.45,2011,12,9,11,Friday,Q4,Low,Small,United Kingdom
392498,541712,581567,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 11:56:00,4.25,16626.0,United Kingdom,17.00,2011,12,9,11,Friday,Q4,Medium,Small,United Kingdom

In [22]:
retail[retail['ProductName'].str.endswith("HOLDER")]

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayofWeek,Quarter,RevenueCategory,OrderSize,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.3,2010,12,1,8,Wednesday,Q4,Medium,Medium,United Kingdom
6,6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,25.5,2010,12,1,8,Wednesday,Q4,Medium,Medium,United Kingdom
49,49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850.0,United Kingdom,15.3,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
64,64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850.0,United Kingdom,25.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
66,66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850.0,United Kingdom,15.3,2010,12,1,9,Wednesday,Q4,Medium,Medium,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392497,541711,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626.0,United Kingdom,79.2,2011,12,9,11,Friday,Q4,Medium,Large,United Kingdom
392524,541741,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311.0,United Kingdom,4.2,2011,12,9,12,Friday,Q4,Low,Small,United Kingdom
392608,541825,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581.0,United Kingdom,20.4,2011,12,9,12,Friday,Q4,Medium,Large,United Kingdom
392655,541872,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom,15.0,2011,12,9,12,Friday,Q4,Medium,Medium,United Kingdom
392659,541876,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,20.4,2011,12,9,12,Friday,Q4,Medium,Large,United Kingdom

In [23]:
retail["Country"]=retail["Country"].replace("United Kingdom", "UK")
retail["Country"]=retail["Country"].replace("EIRE", "Ireland")

##PART F: Data Selection and Filtering

In [24]:
retail[['InvoiceNo', 'ProductName', 'Quantity', 'UnitPrice', 'Country']]
retail[retail['Country']=='Germany']
retail[retail['Quantity']>50]
retail[(retail['UnitPrice']>=5)&(retail['UnitPrice']<=10)]
retail[(retail["Country"]=="France")&(retail["Quantity"]>20)]
retail[(retail["Year"]==2010) & (retail["Month"]==12)]
print(retail['DayofWeek'].unique())
retail[(retail['DayofWeek']=='Sunday')|(retail['DayofWeek']=='Saturday')]

['Wednesday' 'Thursday' 'Friday' 'Sunday' 'Monday' 'Tuesday']

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayofWeek,Quarter,RevenueCategory,OrderSize,Country
4943,7419,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243.0,UK,31.60,2010,12,5,10,Sunday,Q4,Medium,Medium,United Kingdom
4944,7420,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243.0,UK,29.70,2010,12,5,10,Sunday,Q4,Medium,Medium,United Kingdom
4945,7421,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243.0,UK,13.95,2010,12,5,10,Sunday,Q4,Medium,Small,United Kingdom
4946,7422,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243.0,UK,22.50,2010,12,5,10,Sunday,Q4,Medium,Medium,United Kingdom
4947,7423,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243.0,UK,22.50,2010,12,5,10,Sunday,Q4,Medium,Medium,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381605,524188,580536,21156,RETROSPOT CHILDRENS APRON,8,2011-12-04 16:07:00,1.95,12490.0,France,15.60,2011,12,4,16,Sunday,Q4,Medium,Medium,France
381606,524189,580536,21880,RED RETROSPOT TAPE,12,2011-12-04 16:07:00,0.65,12490.0,France,7.80,2011,12,4,16,Sunday,Q4,Low,Medium,France
381607,524190,580536,22090,PAPER BUNTING RETROSPOT,6,2011-12-04 16:07:00,2.95,12490.0,France,17.70,2011,12,4,16,Sunday,Q4,Medium,Medium,France
381608,524191,580536,22628,PICNIC BOXES SET OF 3 RETROSPOT,4,2011-12-04 16:07:00,4.95,12490.0,France,19.80,2011,12,4,16,Sunday,Q4,Medium,Small,France
381609,524192,580536,POST,POSTAGE,3,2011-12-04 16:07:00,18.00,12490.0,France,54.00,2011,12,4,16,Sunday,Q4,Medium,Small,France

In [37]:
retail = retail.drop(retail.columns[-1], axis=1)
retail

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayofWeek,Quarter,RevenueCategory
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,UK,15.30,2010,12,1,8,Wednesday,Q4,Medium
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,UK,22.00,2010,12,1,8,Wednesday,Q4,Medium
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20,2011,12,9,12,Friday,Q4,Medium
392688,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60,2011,12,9,12,Friday,Q4,Medium
392689,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,2011,12,9,12,Friday,Q4,Medium
392690,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,2011,12,9,12,Friday,Q4,Medium
392691,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85,2011,12,9,12,Friday,Q4,Medium

In [38]:
retail.sort_values(by="TotalPrice",ascending=False).head(10)
retail.sort_values(by="TotalPrice",ascending=False).tail(15)
retail[(retail["Country"]=="France")|(retail["Country"]=="Germany")|(retail["Country"]=="UK")]

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayofWeek,Quarter,RevenueCategory
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,UK,15.30,2010,12,1,8,Wednesday,Q4,Medium
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,UK,22.00,2010,12,1,8,Wednesday,Q4,Medium
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20,2011,12,9,12,Friday,Q4,Medium
392688,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60,2011,12,9,12,Friday,Q4,Medium
392689,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,2011,12,9,12,Friday,Q4,Medium
392690,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,2011,12,9,12,Friday,Q4,Medium
392691,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85,2011,12,9,12,Friday,Q4,Medium

##PART G: Sorting Operations

In [39]:
retail.sort_values(by='InvoiceDate')
retail.sort_values(by="TotalPrice",ascending=False)
retail.sort_values(by=["Country","TotalPrice"],ascending=[True, False])
retail.nlargest(20, "TotalPrice")
retail.sort_values(by="TotalPrice",ascending=False).head(20)
retail.sort_values(by="TotalPrice",ascending=False).tail(20)

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayofWeek,Quarter,RevenueCategory
386153,530875,580884,22422,TOOTHPASTE TUBE PEN,1,2011-12-06 12:21:00,0.120,15907.0,UK,0.120,2011,12,6,12,Tuesday,Q4,Low
335405,461469,575943,20668,DISCO BALL CHRISTMAS DECORATION,1,2011-11-13 11:44:00,0.120,17920.0,UK,0.120,2011,11,13,11,Sunday,Q4,Low
391477,539005,581425,22422,TOOTHPASTE TUBE PEN,1,2011-12-08 15:31:00,0.120,14796.0,UK,0.120,2011,12,8,15,Thursday,Q4,Low
321555,442851,574682,20668,DISCO BALL CHRISTMAS DECORATION,1,2011-11-06 12:44:00,0.120,14963.0,UK,0.120,2011,11,6,12,Sunday,Q4,Low
217980,310598,564191,85204,HANGING WOOD AND FELT FLOWER,1,2011-08-23 16:16:00,0.120,17315.0,UK,0.120,2011,8,23,16,Tuesday,Q3,Low
282970,395083,570983,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-13 11:57:00,0.120,14963.0,UK,0.120,2011,10,13,11,Thursday,Q4,Low
390034,537509,581310,22422,TOOTHPASTE TUBE PEN,1,2011-12-08 11:43:00,0.120,16442.0,UK,0.120,2011,12,8,11,Thursday,Q4,Low
297409,412503,572291,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-23 12:46:00,0.120,16931.0,UK,0.120,2011,10,23,12,Sunday,Q4,Low
226996,324975,565426,21403,BLUE EGG SPOON,1,2011-09-04 12:41:00,0.120,12851.0,UK,0.120,2011,9,4,12,Sunday,Q3,Low
226985,324961,565426,85204,HANGING WOOD AND FELT FLOWER,1,2011-09-04 12:41:00,0.120,12851.0,UK,0.120,2011,9,4,12,Sunday,Q3,Low
184362,267634,560359,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-07-18 11:47:00,0.120,14159.0,UK,0.120,2011,7,18,11,Monday,Q3,Low
362505,497822,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858.0,UK,0.100,2011,11,24,12,Thursday,Q4,Low
167801,241349,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104.0,UK,0.100,2011,6,27,12,Monday,Q2,Low
176900,257038,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920.0,UK,0.100,2011,7,8,15,Friday,Q3,Low
196908,285080,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456.0,UK,0.080,2011,7,31,15,Sunday,Q3,Low
364817,500313,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748.0,UK,0.060,2011,11,25,11,Friday,Q4,Low
254730,359871,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198.0,UK,0.001,2011,9,25,14,Sunday,Q3,Low
256543,361741,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405.0,UK,0.001,2011,9,26,17,Monday,Q3,Low
192219,279045,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618.0,UK,0.001,2011,7,26,10,Tuesday,Q3,Low
105962,157195,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952.0,UK,0.001,2011,4,15,9,Friday,Q2,Low

##PART H: Aggregation and Summary Statistics

In [40]:
total_revenue = retail["TotalPrice"].sum()
print(total_revenue)
AverageTran=retail["TotalPrice"].mean()
print(AverageTran)
maxTran=retail["TotalPrice"].max()
print(maxTran)
minTran=retail['TotalPrice'].min()

print(minTran)
uniqueCus=retail['CustomerID'].nunique()
print(uniqueCus)
uniquepro=retail['StockCode'].nunique()
print(uniquepro)
uniqueCtry=retail['Country'].nunique()
print(uniqueCtry)
avg_items_per_transaction = retail.groupby("InvoiceNo")["Quantity"].sum().mean()
print(avg_items_per_transaction)
maxReppro=retail['ProductName'].value_counts().idxmax()
print(maxReppro)

8887208.894
22.6314997351614
168469.6
0.001
4338
3665
37
278.00571983595944
WHITE HANGING HEART T-LIGHT HOLDER

##PART I: Country-wise Analysis

In [41]:
country_revenue = retail.groupby("Country")["TotalPrice"].sum()
country_revenue.sort_values(ascending=False).head(10)
transactions_per_country = retail.groupby("Country")["InvoiceNo"].nunique()
avg_tx_country = (retail.groupby(["Country", "InvoiceNo"])["TotalPrice"].sum().groupby("Country").mean())
avg_tx_country.sort_values(ascending=False).head(1)
total_qty_country = retail.groupby("Country")["Quantity"].sum()
retail.groupby("Country")["CustomerID"].nunique().idxmax()

'UK'

##PART J: Time-based Analysis

In [42]:
retail.groupby('Month')["TotalPrice"].sum()
retail.groupby('Month')["TotalPrice"].sum().sort_values().tail(1)
retail.groupby('Quarter')["TotalPrice"].sum()
transactions_per_day = retail.groupby("DayofWeek")["InvoiceNo"].nunique()
retail.groupby('DayofWeek')["TotalPrice"].mean().sort_values().tail(1)
retail.groupby('Hour')["TotalPrice"].sum()
retail[retail["Year"].isin([2010, 2011])].groupby("Year")["TotalPrice"].sum()

Year
2010     570422.730
2011    8316786.164
Name: TotalPrice, dtype: float64

##PART K: Customer Analysis

In [43]:
customer_spending = retail.groupby("CustomerID")["TotalPrice"].sum()
customer_spending.sort_values(ascending=False).head(20)
cus=retail.groupby('CustomerID')['InvoiceNo'].nunique()
avg_order_value_customer = (retail.groupby(["CustomerID", "InvoiceNo"])["TotalPrice"].sum()
    .groupby("CustomerID").mean()
)
cus[cus==1]
customer_spending[customer_spending>10000]

CustomerID
12346.0     77183.60
12409.0     11072.67
12415.0    124914.53
12433.0     13375.87
12471.0     19788.65
             ...
17841.0     40519.84
17857.0     26879.04
17865.0     10526.32
17949.0     58510.48
18102.0    259657.30
Name: TotalPrice, Length: 104, dtype: float64

##PART L: Product Analysis

In [55]:
retail.groupby("ProductName")["TotalPrice"].sum().sort_values(ascending=False).head(20)
retail.groupby("ProductName")["Quantity"].sum().sort_values(ascending=False).head(20)
retail.groupby("StockCode")["UnitPrice"].mean()
products_many_countries = (retail.groupby("StockCode")["Country"].nunique())
products_many_countries = products_many_countries[products_many_countries > 10]
products_many_countries
retail.sort_values("UnitPrice", ascending=False)[
    ["StockCode", "ProductName", "UnitPrice"]
].head(1)
retail.sort_values("UnitPrice")[
    ["StockCode","ProductName","UnitPrice"]
].head(1)

       StockCode                 ProductName  UnitPrice
192219      PADS  PADS TO MATCH ALL CUSHIONS      0.001

##PART M: Advanced Grouping

In [67]:
retail.groupby(["Country", "Year"])["TotalPrice"].sum()
retail.groupby(["Country", "InvoiceNo", "Quarter"])["TotalPrice"].sum().groupby(["Country", "Quarter"]).mean()
transactions_country_month = retail.groupby(
    ["Country", "Month"]
)["InvoiceNo"].nunique()
retail.groupby(
    ["DayofWeek", "Hour"]
)["TotalPrice"].sum()
retail.groupby("Country")["TotalPrice"].agg(["sum", "mean", "max", "min"])
retail.groupby(
    ["StockCode"]
).agg(
    total_quantity_sold=("Quantity", "sum"),
    total_revenue=("TotalPrice", "sum")
)

           total_quantity_sold  total_revenue
StockCode
10002                      823        699.550
10080                      291        114.410
10120                      192         40.320
10123C                       5          3.250
10124A                      16          6.720
...                        ...            ...
C2                         134       6686.000
DOT                         16      11906.360
M                         6933      53419.930
PADS                         3          0.003
POST                      3120      77803.960

[3665 rows x 2 columns]

##PART N: Creating Summary Reports

In [70]:
retail.pivot_table(
    index="Country",
    columns="Month",
    values="TotalPrice",
    aggfunc="sum",

)
retail.pivot_table(
    index="Country",
    columns="Quarter",
    values="Quantity",
    aggfunc="mean"
)

Quarter                       Q1          Q2         Q3         Q4
Country
Australia              76.429012   83.184818  59.692935  64.279570
Austria                33.948718   10.220779   9.531469  10.122302
Bahrain                      NaN   15.294118        NaN        NaN
Belgium                10.943452   10.663286  11.298419  12.336207
Brazil                       NaN   11.125000        NaN        NaN
Canada                  8.800000   27.517241  13.000000        NaN
Channel Islands        14.855856    9.330645  13.563725  11.487310
Cyprus                 15.181818    7.574468  33.000000   7.794030
Czech Republic         23.066667         NaN        NaN  32.500000
Denmark                28.282051   15.296000  27.683544  22.138686
European Community           NaN    5.290323  11.551724        NaN
Finland                14.523207   18.396226  14.016949  17.458716
France                 14.319975   14.233399  12.955718  12.764706
Germany                12.749697   14.133297  12.878070  13.132771
Greece                 15.092593    8.451613  10.166667   6.555556
Iceland                10.862069   16.166667  12.590909  13.337079
Ireland                21.918970   17.206720  23.000439  16.282892
Israel                 17.875000         NaN  18.489899   3.096774
Italy                   9.411765   17.727273  10.491379  10.443864
Japan                  29.900990  172.765625  57.488372  83.778761
Lebanon                 8.577778         NaN        NaN        NaN
Lithuania                    NaN         NaN        NaN  18.628571
Malta                        NaN    8.933333   6.945455  15.500000
Netherlands            85.060956   73.619893  88.293561  91.773071
Norway                  8.200000   12.102410  17.917683  21.070881
Poland                 12.048387   10.263636   9.202532  13.683544
Portugal               14.802768    8.229268  16.475490   8.965563
RSA                          NaN         NaN        NaN   6.157895
Saudi Arabia            8.888889         NaN        NaN        NaN
Singapore              19.482143   24.368421  28.800000  17.676471
Spain                  10.692194   10.363874  11.533632  12.013351
Sweden                108.074074   40.306818  89.000000  80.786667
Switzerland            15.943574   20.014085  15.158974  15.503436
UK                     12.943920   12.176077  13.063251  11.255354
USA                          NaN    6.227273        NaN  14.783439
United Arab Emirates   16.533333         NaN  12.789474        NaN
Unspecified                  NaN   14.083333   4.562130        NaN

##PART O: Data Transformation